<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-4">
      <h1>Pig report</h1>

      <div class="mt-5">
        <h4>Reporting person's info</h4>
        <div class="row mt-3">
          <h6>
            First name :<span>{{ report["data"]["firstName"] }}</span>
          </h6>
          <h6>
            Last name :<span>{{ report["data"]["lastName"] }}</span>
          </h6>
          <h6>
            Phone number :<span>{{ report["data"]["phoneNumber"] }}</span>
          </h6>
        </div>
      </div>
      <div class="mt-5">
        <h4>Pig info</h4>
        <div class="row mt-3">
          <h6>
            PID (Pig identification number):<span>{{
              report["data"]["pid"]
            }}</span>
          </h6>
          <h6>
            Breed :<span>{{ report["data"]["breed"] }}</span>
          </h6>
        </div>
      </div>
      <div class="mt-5">
        <h4>Other info</h4>
        <div class="row mt-3">
            <h6>
                Extra notes :<span>{{ report["data"]["extraNotes"] }}</span>
            </h6>
            <h6>
              Time reported:<span>{{getDateAndTime(report['data']['dateAndTime'])}}</span>
            </h6>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div id="map" style="height: 500px"></div>
    </div>
  </div>
</div>
